body{
    background-color: #312B2F;
}

nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: rgb(0,0,0);
    background: linear-gradient(7deg, rgba(0,0,0,0.3232143199076506) 0%, rgba(5,0,0,0.3904412106639531) 0%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0.5px;
    top: 0px;
    left: 0px;

}

.navbar-center{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DAD3D1; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    gap: 40px;
} 

.section{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    width: 1200px;
    height: 700px;
    border-bottom: solid #ADADAD;
}

.mustangicon img{
    width: 60px;
}

.presentacion{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: white;
    font-family: 'Bruno Ace', cursive;
    font-size: 40px;
    position: absolute;
    top: 100px;
}

#fordmustangtittle{
    color: #312B2F; 
}

.portfolio{
    color: #ADADAD; 
}

.container{
    position: relative;
    display: flex;
    background-color: #DAD3D1;
    height: 400px;
    width: 600px;
    border-top-right-radius: 30% ;
    align-items: center;
    bottom: -140px;
    z-index: -1;
}

.container img{
    position: absolute;
    width: 700px;
}

.informaciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    width: 300px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    align-items: center;
    top: 250px;
    right: 0px;
    left: 950px;
    gap: 30px;
}

.masinformaciones{
    display: flex;
    flex-wrap: wrap;
    border: solid white;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.section2{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    width: 1200px;
    height: 600px;
    border-bottom: solid #ADADAD;
}




