body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #312B2F;
}

nav{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: rgb(0,0,0);
    background: linear-gradient(7deg, rgba(0,0,0,0.3232143199076506) 0%, rgba(5,0,0,0.3904412106639531) 0%);
    backdrop-filter: blur(5px);
    opacity: 0.5px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    color: #DAD3D1; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    gap: 40px;
    padding-left: 0px;
} 

#mustangicon{
    width: 60px;
}

.section1{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 650px;
    border-bottom: solid #40373C;
}

.section1-ctn{    
    background-color: #DAD3D1;
    height: 400px;
    width: 650px;
    border-top-right-radius: 30% ;
    color: #DAD3D1;
}

.section1-ctn h1{
    line-height: 85px;
    margin-top: -60px;
    padding-left: 40px;
    font-size: 40px;
    font-family: 'Bruno Ace', cursive;
}

#section1-ctn-h1{
    color: #2A2829;
}

#section1-mustangimg{
    width: 750px;
    margin-top: -25px; 
}

.section1-mustanginfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #DAD3D1;
    font-size: 18px;
    width: 300px;
    gap: 20px;
}

.section1-moreinfo-btn{
    display: flex;
    border: solid #DAD3D1;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.section2{
    display: flex;
    width: 1200px;
    height: 650px;
    border-bottom: solid #2A2829; 
    align-items: center;
    justify-content: space-evenly;
}

.section2-info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section2-info-tittle{
    color: #DAD3D1;
    
}

.section2-info h3{
    font-size: 14px;
    font-family: 'Bruno Ace', cursive;
}

.section2-info h1{
    font-size: 40px;
    font-family: 'Bruno Ace', cursive;
    margin: 0px;
}

.section2-mustangspecs{
    display: grid;
    grid-template-columns: 100px 100px 85px;
    grid-template-rows: 30px 30px 30px 30px;
    width: 340px;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    align-items: center;
    color: #DAD3D1;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    left: 50px; 
}

#section2-specs-tittle1{
    color: #DAD3D1;
    font-size: 14px;
    font-weight: 600;
}

#section2-specs-mustanggt350-tittle{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/4;
    font-family: 'Bruno Ace', cursive;
    font-size: 18px;
    height: 50px;
    align-items: center;
    border-top: solid #DAD3D1 1px;
}

#specs-tittle2{
    font-size: 14px;
}

#section2-specs{
    grid-row: 4/5;
    height: 50px; 
}

.section2-circle-ctn{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #DAD3D1;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.section3{
    background-color:#DAD3D1;
    width: 1200px;
    height: 650px;
}

.section3-tittle{
    display: flex;
    flex-direction: column;
    font-family: 'Bruno Ace', cursive;
    color: #2A2829;
    padding: 60px;
}

.section3-tittle h1{
    font-size: 40px;
    margin: 0px;
}

.section3-tittle p{
    color: #2A2829 ;
    font-size: 24px;
    margin: 0px;
}

.mustang-trailer, iframe{
    display: flex;
    border-radius: 25px;
    justify-content: center;
}

.footer-section1{
    display: flex;
    width: 1200px;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #40373C;
}

.footer-info-section1{
    padding-left: 0px;
}

.footer-info-section1 li, a{
    color: #DAD3D1;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;  
}

.footer-section2{
    display: flex;
    width: 1200px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.form-email, label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #DAD3D1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 0px;
}

#emailbox{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: #DAD3D1;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 05px;
    color:#2A2829;
}

#sendemailbtn{
    height: 32px;
    width: 50px;
    border-radius: 5px;
    background-color: #DAD3D1;
    transform: translateX(-10%);
    border: none;
    outline: none;
    text-align: center;
    border-left: solid #2A2829;
    border-radius: 0px 5px 5px 0px;
    color: #2A2829
}

.footer-socialmedia{
    display: flex;
    gap: 50px;
    list-style: none;
    color: #DAD3D1;
    font-size: 30px;
}

.footer-termsandcondition{
    color: #DAD3D1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
