body{
    display: flex;
    background-color: #312B2F;
    transition: translate(-50%, -50%);
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: rgb(0,0,0);
    background: linear-gradient(7deg, rgba(0,0,0,0.3232143199076506) 0%, rgba(5,0,0,0.3904412106639531) 0%);
    backdrop-filter: blur(5px);
    opacity: 0.5px;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.navbar-center{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DAD3D1; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    gap: 40px;
} 

.section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    width: 1200px;
    height: 650px;
    border-bottom: solid #40373C; 
}

.mustangicon img{
    width: 60px;
}

.presentacion{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: white;
    font-family: 'Bruno Ace', cursive;
    font-size: 40px;
    position: absolute;
    top: 100px;
}

#fordmustangtittle{
    color: #2A2829; 
}

.history{
    color: #ADADAD; 
}

.container{
    position: relative;
    display: flex;
    background-color: #D0C8C8;
    height: 400px;
    width: 600px;
    border-top-right-radius: 30% ;
    align-items: center;
    bottom: -140px;
    z-index: -1;
}

.container img{
    position: absolute;
    width: 700px;
}

.informaciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    width: 300px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    align-items: center;
    top: 250px;
    right: 100px;
    gap: 30px;
}

.masinformaciones{
    display: flex;
    flex-wrap: wrap;
    border: solid white;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.section2{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    width: 1200px;
    height: 650px;
    border-bottom: solid #40373C; 
}

.section2{
    position: relative;
    justify-content: center;
}

.circle{
    display: flex;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #D0C8C8;
    border-radius: 100%;
    right: 0px;
    align-items: center;
    justify-content: center;
}

.informaciones2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    width: 700px;
    color: white;
    font-family: 'Bruno Ace', cursive;
    font-size: 40px;
    left: 100px;
    top: 150px;
}

#titulo1{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: gray; 
}

.container3{
    display: flex;
    position: relative;
    width: 500px;  
}

.generalspecs{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    align-items: center;
    left: 100px; 
}

.informaciones3{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    align-items: center;
    bottom: 30px;
    width: 270px;
    gap: 55px;
    height: 25px;
    border-bottom: solid azure;
}   

.specs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.specs1{
    padding-left: 6px;
}

.titulo3{
    display: flex;
    font-family: 'Bruno Ace', cursive;
    font-size: 14px;
}

.informaciones4{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    align-items: center;
    gap: 20px;
    width: 350px;
    height: 50px;
    top: 10px;
}

.section3{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    background-color:#40373C;
    width: 1200px;
    height: 650px;
}

.informaciones5{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 5px;
    top: 100px;
    z-index: 3;
    left: 100px;

}

.titulo4{
    display: flex;
    color:#2A2829;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.titulo5{
    display: flex;
    color: #40373C;
    font-family: 'Bruno Ace', cursive;
    font-size: 40px;
}

.titulo6{
    display: flex;
    flex-wrap: wrap;
    border: solid #2A2829;
    width: 60px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 8px;
    color: #2A2829;
}

.slideshow{
    position: absolute;
    background-color: #ADADAD;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 650px;
    animation: animate 10s infinite;
}


@keyframes animate{
    30%{
        background-image: url(./img/golf.png);
    }

    60%{
        background-image: url(./img/vantage.png);
    }

    100%{
        background-image: url(./img/288gto.png);
    }
}


/* .slides{
    display: flex;
    height: 400px;
    width: 400px;
}

.slides input{
    display: none;
}

.slideshow img{
    width: 400px;
}

.manualnavegation{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    border: 2px solid #ADADAD;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    gap: 5px;
} */

